body {
    background-color: lightgray;
}

.form_scrollable-checkboxes {
    height: 10rem;
    overflow: scroll;
}

.d-none {
    display: none;
}

form {
    fieldset {
        border: none;
        padding: 0;
        margin: 0;
    }
}
